/* change brand font */
 .navbar-brand{
   font-family: 'Ubuntu', sans-serif;
   font-size: 2em;
   font-weight: bold;
 }

 /* change navigation color */
 .navbar #myMenu .custom-nav .nav-item a {
   color: #FFF;
 }

 /*change navigation hover color  */
   .navbar #myMenu .custom-nav .nav-item a:hover{
    color: black;
  }

/* Make Header Image Responsive */
.back-image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 70vh;
  border-radius: 0px;
  margin-top: 74px;
}
